.header {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr;
  align-items: center;
  background-color: #161326;
  color: #eee;
  padding-left: 0.5em;
  font-size: 1rem;
}

.title {
  margin: 0;
  font-size: 1em;
}

.button {
  background: none;
  border: none;
  height: 2em;
  width: 2em;
  color: #958fb2;
  padding: 0.6em;
  transition: all 0.2s;
}

.button:hover {
  background-color: #ffffff3b;
  color: #fff;
}

.button--danger:hover {
  background-color: #b61313;
}
