.header {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;
  align-items: center;
  background-color: var(--color-shade-first);
}

.logo {
  height: 1.4em;
  width: 1.4em;
}

.title {
  margin: 0;
  padding: 0.2em 0.5em;
  font-size: 0.8em;
  color: var(--color-text-secondary);
  font-family: var(--font-family-primary);
}

.ticker {
  color: var(--gradient-primary-from);
}

.button {
  cursor: default;
  background: none;
  height: 2em;
  width: 2em;
  padding: 0.6em;
  transition: all 0.2s;
  color: var(--color-text-secondary);
}

.button:hover {
  color: var(--color-text-primary);
  background-color: var(--color-shade-third);
}

.button--danger:hover {
  background-color: var(--color-alert);
}
