.header {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;
  align-items: center;
  color: var(--color-text);
  background-color: var(--color-shade-first);
}

.logo {
  height: 1.4em;
  width: 1.4em;
}

.title {
  margin: 0;
  padding: 0.2em 0.5em;
  font-size: 0.8em;
}

.button {
  background: none;
  height: 2em;
  width: 2em;
  color: var(--color-text);
  padding: 0.6em;
  transition: all 0.2s;
}

.button:hover {
  background-color: var(--color-shade-third);
}

.button--danger:hover {
  background-color: var(--color-alert);
}
