.container {
  color: white;
  padding: 0.5em;
}

.error {
  background-color: red;
}

.login {
  border-radius: var(--border-radius-primary);
}

.stats {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: auto auto;
  gap: 0.5em;
  text-align: center;
  justify-content: space-evenly;
  border-top: 1px solid var(--color-shade-fourth);
  padding-top: 1em;
  margin-top: 1em;
}

.stats__name {
  color: var(--color-primary);
  font-size: 0.7em;
  font-family: var(--font-family-secondary);
}
