.container {
  color: white;
  padding: 0.5rem;
}

.header {
  display: flex;
  align-items: center;
  column-gap: 0.5em;
}

.username {
  font-size: 1.2em;
}

.error {
  background-color: red;
}

.login {
  background-color: yellow;
  padding: 0.5rem;
  color: darkgray;
}
