.container {
  display: flex;
  justify-content: space-evenly;
}

.button {
  background: red;
  color: var(--color-secondary);
  padding: 0.6em;
  transition: all 0.2s;
}

.button:active {
  color: black;
}

.button:hover {
  background-color: var(--color-shade-third);
}
