.container {
  display: grid;
  grid-template: auto 1fr / 1fr calc(400px + 2em);
  height: 100vh;
}

.header {
  grid-column: 1 / 3;
}

.main,
.aside {
  padding: 1em;
}

.main {
  overflow: auto;
  background-color: var(--color-shade-third);
}

.aside {
  display: grid;
  align-content: space-between;
  background-color: var(--color-shade-second);
}

.back {
  border-radius: var(--border-radius-primary);
  margin-bottom: 1em;
}
