.container {
  display: grid;
  grid-template: auto 1fr / 1fr calc(400px + 2em);
  height: 100vh;
  background-image: url('./background.jpg');
  background-size: cover;
}

.header {
  grid-column: 1 / 3;
}

.main {
  overflow: auto;
  padding: 2em 1em 2em 2em;
}

.aside {
  padding: 2em 1em;
  display: grid;
  align-content: space-between;
}

.options {
  display: flex;
  justify-content: space-between;
}

.back {
  border-radius: var(--border-radius-primary);
  margin-bottom: 1em;
}
