@import url('https://fonts.googleapis.com/css2?family=Anton&family=DM+Sans&display=swap');
*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  /* Colors */
  --color-inactive: #2b2b2d;
  --color-alert: #b61313;
  --gradient-primary-from: #fe804b;
  --gradient-primary-to: #fb31b3;
  --gradient-primary: linear-gradient(
    var(--gradient-primary-from),
    var(--gradient-primary-to)
  );
  --color-shade-first: #080809;
  --color-shade-second: #101012;
  --color-shade-third: #212124;
  --color-text: #c6c6c6;
  --color-button: #fff;

  /* Fonts */
  --font-size: 100%;
  --font-family-primary: 'DM Sans', sans-serif;
  --font-family-secondary: 'Anton', sans-serif;

  /* Misc */
  --border-radius-primary: 1em;
  --border-radius-secondary: 0.2em;
}

html {
  font-size: var(--font-size);
}

body {
  margin: 0;
  font-family: var(--font-family-primary);
  background: var(--color-shade-first);
  color: var(--color-text);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: var(--gradient-primary);
  color: var(--color-button);
  border: none;
  padding: 0.5em 1em;
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
