@import url('https://fonts.googleapis.com/css2?family=Anton&family=DM+Sans&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}
:root {
  /* Colors */
  --color-primary: #68fe9c;
  --color-secondary: #e2e2e2;
  --color-shade-first: #060606;
  --color-shade-second: rgb(27, 31, 36, 0.4);
  --color-shade-third: rgb(27, 31, 36, 0.4);
  --color-shade-fourth: rgb(27, 31, 36, 0.4);
  --color-shade-fifth: rgb(27, 31, 36, 0.4);
  --color-alert: #b61313;

  /* Fonts */
  --font-size: 115%;
  --font-family-primary: 'Anton', sans-serif;
  --font-family-secondary: 'DM Sans', sans-serif;

  /* Misc */
  --border-radius-primary: 1em;
  --border-radius-secondary: 0.2em;
}

html {
  font-size: var(--font-size);
}

body {
  margin: 0;
  background: var(--color-shade-first);
  color: var(--color-secondary);
  background-image: url('background.jpg');
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: linear-gradient(70deg, #fe804b, #fb31b3);
  color: var(---color-secondary);
  border: none;
  padding: 0.5em 1em;
}

p {
  margin: 0;
  font-family: var(--font-family-secondary);
}
