.container {
  display: grid;
  gap: 0.5em;
}

.header {
  background-color: var(--color-shade-second);
}

.highlight {
  composes: grid-column-space-between from '../../utils.module.css';
  align-items: center;
  padding: 1em;
  background: var(--color-shade-third);
  border-radius: var(--border-radius-secondary);
}
