.container {
  composes: grid-column-space-between from '../../utils.module.css';
  background: var(--color-shade-fourth);
  color: var(--color-secondary);
  padding: 1em;
  border-radius: var(--border-radius-secondary);
}

.container + .container {
  margin-top: 1em;
}
