button {
  cursor: pointer;
}

.flex {
  display: flex;
  flex-direction: column;
}

.container {
  height: 100%;
  background-color: var(--color-sidebar-background);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.section {
  margin-bottom: auto;
}

.icon {
  width: 1.6rem;
  height: 1.6rem;
  fill: #2b2b2d;
}

.icon:hover {
  fill: url(#occtyGradient);
}

.selected .icon {
  fill: url(#occtyGradient);
}

.disabled .icon {
  fill: #2b2b2d;
}

.disabled {
  position: relative;
  cursor: default;
}

.disabled::after,
.disabled::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  z-index: 10;
}

.disabled::after {
  content: attr(data-tooltip);
  width: max-content;
  height: 75%;
  background-color: #2b2b2d;
  padding: 0.5rem;
  left: 100%;
  border-radius: 5%;
}

.disabled::before {
  content: '';
  width: 0.5rem;
  height: 0.5rem;
  border-right: 0.5rem solid #2b2b2d;
  border-bottom: 0.25rem solid transparent;
  border-top: 0.25rem solid transparent;
  left: calc(100% - 0.5rem);
}

.disabled:hover::after,
.disabled:hover::before {
  display: block;
}
