.container {
  display: grid;
  gap: 0.5em;
  padding: 1em;
  background-color: var(--color-shade-second);
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;
}

.info {
  justify-self: end;
  font-size: 0.8em;
  text-align: right;
}

.more {
  display: grid;
  grid-template-columns: repeat(3, auto) 1fr;
  gap: 1em;
}

.info__active > svg {
  margin-right: 0.5em;
}

.social {
  color: var(--color-text);
  background: none;
  display: grid;
  gap: 1em;
  padding: 0;
  grid-auto-flow: column;
  align-items: center;
}

.more__match {
  justify-self: end;
  border-radius: var(--border-radius-primary);
  display: grid;
  place-content: center;
  padding: 0.5em 1em;
}

.more__match:hover {
  text-decoration: underline;
}

.half {
  grid-template-columns: 2fr auto;
}

.half .header {
  grid-column: 1 / 3;
}

.half .more {
  grid-template-columns: auto;
  align-content: center;
}
